@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="align-content-md-start">
    <h1 class="display-4">Welcome </h1>
    <br />
    <h5 class="display-6">What is this webiste?</h5>
    <p>This website is for associations to view them tournaments and players can reigster for tournaments too.</p>
        <h5 class="display-6">Whant to know more about tournament?</h5>
    <p>You can view tournament by clicking on tournaments on the top of this page you will be able to see multiple tournaments and you will be able to view thier for more information about them.</p>
     <h5 class="display-6">Intersted in tournament?</h5>
    <p>You can reigster by having player account first click on log in and click on <strong>Don't have an account? Click and register</strong> then fill the fields after that you can 
    go to tournaments page select the tournament that you are interested in and click on register.</p>
</div>
